/*
	Default styles - Not recommended for use, more for the examples page
*/


ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
div.selected,
div.selectable {
	border: solid 1px #ccc;
	width: 360px;
	height: 240px;
	float: left;
	overflow-y: auto;
	border-radius: 3px;
	margin-left: 25px;
}
div.selected li,
div.selectable li {
	padding: 10px;
	cursor: pointer;
}
div.selected li.hover,
div.selectable li.hover {
	background-color: #08c;
	color: #eee;
}